Flask==2.0.1
Flask-REST==1.3
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask_Swagger
flask_login
alembic==1.6.5
click==8.0.1
coloredlogs==15.0.1
dict2obj==1.2.0
SQLAlchemy==1.4.22
Flask-Responses
Waitress
json_logging
PyMySQL
rsa